aside.auth {
    height: 40px;
    background-color: #EEE;
    border: solid 1px silver;
}
aside.auth::before {
    content: " ";
    height: 20px;
    width: 20px;
    border-radius: 10px;
    display: inline-block;
    background-color: silver;
    box-shadow: inset 0 0 10px 0 black;
}
.authenticated aside.auth::before {
    background: radial-gradient( white 20%, greenyellow 30%, green);
    box-shadow: 0 0 10px 0 green;
}
aside.auth, aside.auth label {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0 0 0 10px;
}
aside.auth label {
    flex: 1;
    height: 100%;
}

aside.auth label input {
    flex: 1;
    height: 100%;
    border: none;
    border-left: solid 1px silver;
}
