.entry-slots-loading {
    padding: 10px;
    text-align: center;
}

.time-entry table {
    border-spacing: 0;
    margin: 20px 0;
}

.time-entry th {
    font-weight: normal;
    text-align: center;
    padding: 0;
    min-width: 100px;
    border: solid 1px #EEE;
}

.time-entry td {
    padding: 0;
    border: solid 1px #EEE;
}

.time-entry select, .time-entry input[type=number] {
    min-width: 100px;
    border: none;
    text-align: center;
    line-height: 30px;
    height: 30px;
}
