.entry-slots-loading {
    padding: 10px;
    text-align: center;
}

.edit-main table {
    border-spacing: 0;
    margin: 20px 0;
}

.edit-main th {
    font-weight: normal;
    text-align: center;
    padding: 0;
    min-width: 100px;
}

.edit-main td {
    padding: 0;
}

.edit-main select {
    padding: 10px;
    min-width: 100px;
    border-color: #EEE;
}
