.entry-slots-loading {
    padding: 10px;
    text-align: center;
}

.edit-main .headings {
    display: flex;
}
.edit-main .headings div {
    flex: 1;
    text-align: center;
    padding: 10px;
}

.edit-main select {
    padding: 10px;
    border-color: #EEE;
}
